.principal-login-container {
    background: linear-gradient(rgba(232, 234, 235, 0.8), rgba(232, 234, 235, 0.8)),
      url('../../public/images/background-login.webp');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .login-container-form {
    border: 1px solid #AAA2A2;
    margin: 10% auto;
    background-color: #fff;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
  }
  .img-login {
    margin: 1rem;
    width: 100px;
    border-radius: 50px;
  }
  .form-login {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-longin-input {
    margin: 10px;
    width: 90%;
    padding: .7rem;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(29, 29, 29);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .form-longin-input::placeholder {
    text-align: center;
    color: #AAA2A2;
  }
  .form-longin-input::placeholder {
    text-align: center;
    color: #AAA2A2;
  }
  .btn-login {
    background-color: #FFBD59;
    width: 90%;
    border: none;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
  }
  .text-danger {
    color:red;
  }