
.icon-bell{
position:absolute;
margin-top: -45px;
margin-left :550px;
font-size: larger;
}
.btn-click , .btn-click-user{
    width:50%;
    background-color: #73C089;
    padding:20px;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    border:none; 
  
}
.btn-click:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.btn-click-user{
    background-color: #FF8540;
}
.btn-click-user:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.container-menu{
    overflow-y: scroll;
    height: 600px
}
.container-menu-check{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.check-container{
    margin-top: 10px;
    border: solid 1px rgb(184, 182, 182);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    margin-right: 10px;
   }
.check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    list-style: none;
}
.list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.icon-trash-o{
    font-size: larger;
    padding: 6px;
}
.total{
    margin-top:20px;
    color: #f46919;
    font-weight: bold;
}
.send-products{
    background-color: #FFD66C;  
    border-radius: 20px;
    width: 120px;  
    text-align: center;
   border-style: none;
   padding:12px;
   font-weight: bold;
   margin-top: 1.8rem;
   cursor:pointer;
}
.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*list*/
.container-check-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: .5rem .3rem ;
    border-radius: 10px;
}
.list-container {
    gap: 1rem;
}
.container-group {
    width: 50%;
}