.principal-container-products{
    max-width: 600px;
    width: 100%;
    height: 100px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    place-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
    margin-top: .5rem;
}
.img-product{
   height: 80px;
   width:80px;
   border-radius: 50%;
   padding: 10px;
}

.product, .cost{
    font-size: 1.1rem;
    padding: 15px;
}
.add-products {
    background-color: #FFD66C;  
    border-radius: 20px;
    padding: .7rem;
    width: 80px;  
    text-align: center;
   border-style: none;
   margin-right: 10px;
   cursor:pointer;
   }
.delete{
   background-color: #6751E8; 
   color:white;
   cursor:pointer;
   }