*  {
    margin:0;
    padding:0;     
    box-sizing: border-box;
}
html,
body{
    background-color: #e5e7e9;
}
.header-container {
    position: sticky;
    top: 0;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBD59;
    height: 60px;
    width: auto;    
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: League Gothic;
    font-size: 1.5rem;
    font-family: 'League Gothic', sans-serif;
}
.img-logo{
    width: 60px;   
    object-fit: cover;
}