*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, button {
    background-color: #e5e7e9;
    font-family: 'Maven Pro', sans-serif;
  }
  
  p {
    margin-bottom: 0;
  }

  h1, input{
    text-align: center;
    font-weight: bold;
    font-family: League Gothic;
    font-size: 2rem;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 2px;
}
input {
    font-size: 1.3rem;
}

.principal-login-container, .container-admin{
    background: linear-gradient(rgba(232, 234, 235, 0.8), rgba(232, 234, 235, 0.8)),
      url('../../public/images/background-login.webp');
    display: flex;
    justify-content: center;
}

/* ----- ORDERS -------*/

.card-order , .card-order-finish{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #dbd2d2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-order-finish{
    background-color: #bfe5ca;
}
.order-list {
    list-style: none;
    margin: 1rem;
    line-height: 2rem;
}

.btn-start, .btn-two {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background: #73C089;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-two {
    background-color: #FFBD59;
}

.stop-watch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.button-card{
    padding:10px;
    border:none;
    border-radius:10px;
    border:2px solid  #FFBD59;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:block;    
}
.button-card-finish{
    display:none;
}

/*------- PEDIDOS -------*/

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.icon-refresh {
    display: flex;
    justify-content: end;
    padding: 1rem;
    font-size: 1.5rem;
}